<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
     <param name="File" value="logs/stafa.log"/>
     <param name="Append" value="true"/>
     <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
          <!-- <param name="ConversionPattern" value="%d{ISO8601}|[%c]|[%d{ddmmyyhhmmss}%r]|%m %n"/> -->
          <param name="ConversionPattern" value="%d{ISO8601}|[%c]|%m %n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="TRACE" />
    </filter>
  </appender>
	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
	  <param name="Threshold" value="debug"/>
        <param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
</appender>	

<logger name="org.springframework">
    <level value="warn"/>
</logger>
<logger name="org.hibernate">
    <level value="warn"/>
</logger>

<logger name="org.hibernate.SQL">
    <level value="DEBUG"/>
</logger>

<logger name="org.hibernate.type">
    <level value="warn"/>
</logger>


<logger name="com.opensymphony">
    <level value="warn"/>
     <appender-ref ref="FILE"/>
</logger>


<logger name="freemarker.beans">
    <level value="warn"/>
     <appender-ref ref="FILE"/>
</logger>

<logger name="freemarker.cache">
    <level value="warn"/>
     <appender-ref ref="FILE"/>
</logger>

<logger name="org.apache">
    <level value="warn"/>
     <appender-ref ref="FILE"/>
</logger>

<logger name="com.velos">
    <level value="DEBUG"/>
</logger>
	 <root> 
	    <priority value="DEBUG" />
	        <appender-ref ref="CA" />
 	    <appender-ref ref="FILE"/>
 	
	</root>
    
</log4j:configuration>
